1. What exactly is []?

Ans.  empty list

2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

spam = [2,4,6,8,10]
spam[2]= "hello"
spam

O/p - [2, 4, 'hello', 8, 10]

### Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

3. What is the value of spam[int(int('3' * 2) / 11)]?

Ans.

spam = ['a', 'b', 'c', 'd']
spam[int(int('3' * 2) / 11)]

Ans . 'd', beacuse of typecasting

4. What is the value of spam[-1]?

Ans. 'd' spam[-1]

5. What is the value of spam[:2]?

Ans. 
[:2]
['a', 'b']

note - outerbond-1

### Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

6. What is the value of bacon.index('cat')?

In [16]:
bacom = [3.14,'cat','11','cat', True]
bacom.index('cat')

1

7. How does bacon.append(99) change the look of the list value in bacon?

In [22]:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.append(99) # append insert the item at the end of the list
bacon

[3.14, 'cat', 11, 'cat', True, 99]

8. How does bacon.remove('cat') change the look of the list in bacon?

In [24]:
bacom.remove('cat') #remove the element from the first occurance.
bacom

[3.14, '11', True]

9. What are the list concatenation and list replication operators?

In [35]:

l1 = [23,34,"avin"]
l2 = [1,2,3]
l1+ l2 #List concatenation

[23, 34, 'avin', 1, 2, 3]

In [36]:
l1*2 #list replication

[23, 34, 'avin', 23, 34, 'avin']

10. What is difference between the list methods append() and insert()?

In [50]:
#append() insert the element at the end
a = [23,10,12]

a.append(23)
a.append("avinash")
a

[23, 10, 12, 23, 'avinash']

In [51]:
a.insert(2,"sudh") #insert the element at given index.

In [52]:
a

[23, 10, 'sudh', 12, 23, 'avinash']

11. What are the two methods for removing items from a list?

Ans.  pop(), remove()

12. Describe how list values and string values are identical.

In [56]:
#List and string values are much identical in many operations.
   
    ## lists and strings can be passed to len()
    ## Have indexes and slices
    ## it can be used in for loops
    ## it can be concatenated or replicated
    ## used with the in and not in operators


a = "avinash"
b = "kumar"
c = [1,2,3]
d = [4,5,6]

print(a+b)
print(c+d)

avinashkumar
[1, 2, 3, 4, 5, 6]

In [57]:
a[2]

'i'

In [58]:
c[2]

3

In [59]:
print(len(a))
print(len(c))

7
3

In [63]:
for i in a:
    print(i)
    
for j in c:
    print(j,end ='')

a
v
i
n
a
s
h
123

In [75]:
print(a*2)
print(c*2)
print(a+b)
print(c+d)

print("h" in a)
print(c in c)

avinashavinash
[1, 2, 3, 1, 2, 3]
avinashkumar
[1, 2, 3, 4, 5, 6]
True
False

13. What's the difference between tuples and lists?

Ans. 

Tuples are immutable but list is mutable, Tuples is written as () whereas list written as []

14. How do you type a tuple value that only contains the integer 42?

In [79]:
t = (42,)
print(t)
print(type(t))

(42,)
<class 'tuple'>

15. How do you get a list value's tuple form? How do you get a tuple value's list form?

In [83]:
list1 = [1,2,3]
tuple(list1)

(1, 2, 3)

In [89]:
t = (2,3,23,23)
list(t)

[2, 3, 23, 23]

16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

Ans. 

That contain reference to the list value

17. How do you distinguish between copy.copy() and copy.deepcopy()?

Ans. 

A shallow copy constructs a new compound object and then (to the extent possible) inserts references into it to the objects found in the original.


A deep copy constructs a new compound object and then, recursively, inserts copies into it of the objects found in the original.

In [111]:

  
# initializing list 1 
list1 = [1, 2, [3,5], 4]
  
# using copy for shallow copy  

list2 = copy.copy(list1) 
  
# using deepcopy for deepcopy  
list3 = copy.deepcopy(list1)

In [112]:
list2

[1, 2, [3, 5], 4]

In [113]:
list3

[1, 2, [3, 5], 4]